body {
  margin-left: 20px;
}

.chat {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
}

.msg {
  background-color: dodgerblue;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
}

.edit {
  
  background-color: aqua;
  border-radius: 15px;
}

.del {
  background-color: seagreen;
  border-radius: 15px;
}